body {
  font-family: Arial;
  background: #f2f2f2;
  padding: 10px;
}

.box {
  background: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

input, select, button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}
